<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>WEB-INF/tomcat-web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>
    <Resource name="jdbc/mysql"
              auth="Container"
              type="javax.sql.DataSource"
              username="${DB_USERNAME}"
              password="${DB_PASSWORD}"
              driverClassName="com.mysql.cj.jdbc.Driver"
              url="jdbc:mysql://${DB_ADDR}"
              maxTotal="50"
              maxIdle="20"
              maxWaitMillis="20000"/>

</Context>